<h1>Editing Course</h1>

<%= render 'form' %>

<div class="btn-group btn-group-justified" >
	<div class="btn-group" role="group">
	  <%= link_to 'Show', @course, :class => "btn btn-default" %> 
	</div>
	<div class="btn-group" role="group">
	  <%= link_to 'Back', courses_path, :class => "btn btn-default" %>
	</div>
</div>
